<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @board.body %>
</p>

<%= link_to 'Edit', edit_board_path(@board), class: "btn btn-warning" %>
<%= link_to 'Destroy', @board, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', boards_path, class: "btn btn-primary" %>
